<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>走势图</string>
		<key>vc</key>
		<string>ContinerViewController</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>仿京东月份</string>
		<key>vc</key>
		<string>ContinerViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KeyWindowLevel</string>
		<key>vc</key>
		<string>KeyWindowLevelViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>loadingView</string>
		<key>vc</key>
		<string>MBProgressHUDListTableViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>网络</string>
		<key>vc</key>
		<string>NetworkViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>状态栏</string>
		<key>vc</key>
		<string>ShowNavigationBarViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JS</string>
		<key>vc</key>
		<string>JSViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>自适应高度cell</string>
		<key>vc</key>
		<string>AutoLayoutCellHeightViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>拉伸头</string>
		<key>vc</key>
		<string>PictureHeardPullViewControll</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>textKit</string>
		<key>vc</key>
		<string>TextKitViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>渐变色</string>
		<key>vc</key>
		<string>GradientViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>扫雷</string>
		<key>vc</key>
		<string>GaMeViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模式弹出</string>
		<key>vc</key>
		<string>PresentVCViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>时间列表</string>
		<key>vc</key>
		<string>TimeListViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CoreText排版引擎</string>
		<key>vc</key>
		<string>CoreTextViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>autoLyout系统自带方法</string>
		<key>vc</key>
		<string>AutolayoutViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>runtime</string>
		<key>vc</key>
		<string>RuntimeDemoViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>z星二维码</string>
		<key>vc</key>
		<string>ZxingDemoViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>原生二维码</string>
		<key>vc</key>
		<string>SystemQRViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>扫描二维码</string>
		<key>vc</key>
		<string>ScanCaptureQRViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>相册</string>
		<key>vc</key>
		<string>PhotoViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>app跳转</string>
		<key>vc</key>
		<string>JumpAppstoreViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cookie</string>
		<key>vc</key>
		<string>WebViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>双色球</string>
		<key>vc</key>
		<string>DoubleBollViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>多级目录</string>
		<key>vc</key>
		<string>MenuListViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长连接</string>
		<key>vc</key>
		<string>WebSoctetTestViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白板</string>
		<key>vc</key>
		<string>BaiBanViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ReplayKit</string>
		<key>vc</key>
		<string>ReplayKitViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PPT</string>
		<key>vc</key>
		<string>PPTPreviewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>动画</string>
		<key>vc</key>
		<string>CombinationAnimationViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>webView+NSURLProtocol</string>
		<key>vc</key>
		<string>NSURLProtocolWebViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>通知测试</string>
		<key>vc</key>
		<string>NotictionTestViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>字体绘画</string>
		<key>vc</key>
		<string>GraphicsAnimationViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>翻页动画</string>
		<key>vc</key>
		<string>PageScrollViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>字体</string>
		<key>vc</key>
		<string>SystemFontViewController</string>
		<key>type</key>
		<string>1</string>
	</dict>
</array>
</plist>
